In [32]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

city_file = './Resources/city_data.csv'
ride_file = './Resources/ride_data.csv'

# Read the City and Ride Data
city_data = pd.read_csv(city_file)
ride_data = pd.read_csv(ride_file)

# Combine the data into a single dataset
complete_data = pd.merge(ride_data, city_data, how = "left", on = ["city", "city"])

# Display the data table for preview
complete_data.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2018-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2018-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2018-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2018-03-06 04:28:35,34.58,3908451377344,46,Urban

In [33]:
x = complete_data.groupby(['type','city'])['ride_id'].count()
y = complete_data.groupby(['type','city'])['fare'].mean()
x

type      city
Rural     Bradshawfurt            10
          Garzaport                3
          Harringtonfort           6
          Jessicaport              6
          Lake Jamie               6
          Lake Latoyabury         11
          Michaelberg             12
          New Ryantown             6
          Newtonview               4
          North Holly              9
          North Jaime              8
          Penaborough              5
          Randallchester           5
          South Jennifer           7
          South Marychester        8
          South Saramouth          4
          Taylorhaven              6
          West Heather             9
Suburban  Barronchester           16
          Bethanyland             18
          Brandonfort             19
          Colemanland             22
          Davidfurt               17
          East Aaronbury           9
          East Danielview         17
          East Kentstad           13
          East Marymouth          27
          Grayville               15
          Josephside              27
          Lake Ann                12
                                  ..
Urban     Port Johnbury           22
          Port Samanthamouth      25
          Raymondhaven            25
          Reynoldsfurt            19
          Richardfort             28
          Roberthaven             24
          Robertport              20
          Rodneyfort              23
          Rogerston               22
          Royland                 30
          Simpsonburgh            24
          South Evanton           31
          South Jack              19
          South Karenland         38
          South Latoya            19
          South Michelleport      31
          South Phillip           31
          Valentineton            22
          West Angela             39
          West Anthony            30
          West Christopherberg    26
          West Ericstad           18
          West Gabriel            23
          West Heidi              28
          West Josephberg         26
          West Patrickchester     16
          West Robert             31
          West Samuelburgh        25
          Williamsstad            23
          Williamsview            20
Name: ride_id, Length: 120, dtype: int64

In [ ]:
# Obtain the x and y coordinates for each of the three city types

# Build the scatter plots for each city types

# Incorporate the other graph properties

# Create a legend

# Incorporate a text label regarding circle size

# Save Figure